
@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>
<a href="/Product/Productcreate" class="btn btn-outline-info">Create</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>StockQuantity</th>
        <th>Category</th>
        <th>Action</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.StockQuantity</td>
            <td>@item.Category</td>
     
            <td>
                <a href="/department/details/@item.ProductID" class="btn btn-info">Details</a>
                <a href="/department/edit/@item.ProductID" class="btn btn-warning">Edit</a>
                <a href="/department/delete/@item.ProductID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>