
@{
    ViewBag.Title = "ProgramList";
}

<h2>ProgramList</h2>

<table class="table table-bordered">
    <tr>
        <th>Program ID</th>
        <th>Program Name</th>
        <th>TRP Score</th>
        <th>Channel ID</th>
        <th>Air Time</th>
        <th>Action</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProgramId</td>
            <td>@item.ProgramName</td>
            <td>@item.TRPScore</td>
            <td>@item.ChannelId</td>
            <td>@item.AirTime</td>
            <td>
                <a href="/Program/ProgramEdit/@item.ProgramId" class="btn btn-warning">Edit</a>
                <a href="/Program/ProgramDelete/@item.ProgramId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>
<a href="/Program/ProgramCreate" class="btn btn-outline-info">Create</a>
<a href="/Channel/ChannelList" class="btn btn-outline-primary">View Channel List</a>