
@{
    ViewBag.Title = "ProgramList";
}

<h2>ProgramList</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">@TempData["Message"]</div>
}
<form method="post" class="d-flex align-items-center gap-2">
    <input type="hidden" name="formType" value="filter" />
    <label for="channel" class="form-label me-2">Select Channel:</label>
    <select name="Id" id="channel" class="form-select w-auto">
        <option selected disabled>---Channel---</option>
        @foreach (var channel in ViewBag.Channels)
        {
            @*<option value="@channel.ChannelId">@channel.ChannelName</option>*@
            <option value="@channel.ChannelId" @(channel.ChannelId == ViewBag.SelectedChannelId ? "selected" : "")>
                @channel.ChannelName
            </option>
        }
    </select>
    <input type="hidden" name="searchByTRP" value="0" />

    <input type="submit" value="Filter" class="btn btn-success" />
</form>
   <br />
   <form method="post" class="d-flex align-items-center gap-2">
       <input type="hidden" name="formType" value="search" />
       <input type="text" name="searchByTRP" placeholder="Search Program By TRP Score" class="form-control" />
       <input type="hidden" name="Id" value="0" />
       <input type="submit" value="Search" class="btn btn-primary" />
   </form>
    

<br />


<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <th colspan="5" align="center" class="text-center text-bg-info">@item.ChannelName</th>
        </tr>

        if (item.Programs.Count != 0)
        {
            <tr>
                <th>Program ID</th>
                <th>Program Name</th>
                <th>TRP Score</th>
                <th>Channel ID</th>
                <th>Air Time</th>
                <th>Action</th>

            </tr>
            foreach (var program in item.Programs)
            {

                <tr>
                    <td>@program.ProgramId</td>
                    <td>@program.ProgramName</td>
                    <td>@program.TRPScore</td>
                    <td>@program.ChannelId</td>
                    <td>@program.AirTime</td>
                    <td>
                        <a href="/Program/ProgramEdit/@program.ProgramId" class="btn btn-warning">Edit</a>
                        <a href="/Program/ProgramDelete/@program.ProgramId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" align="center" class="text-center text-bg-danger">No Program Found</td>
            </tr>

        }
    }
</table>
<a href="/Program/ProgramCreate" class="btn btn-outline-info">Create</a>
<a href="/Channel/ChannelList" class="btn btn-outline-primary">View Channel List</a>